
body{
    background-color: #fbfbfb;
}

.borderbox {
    border: 5px solid red;  
}

/* Dashboard Component Styles */

.dashboard-card {
    margin:auto !important; 
    /* Used !important to override materialUI's item styling, only other solution seems to be overriding with React Hooks per MUI Docs */
}


/*******************  Navigation Bar Styles *******************/

/* Sign-Up-Button-Arrow */

.hvr-forward path{

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-forward:hover path, .hvr-forward:focus path, .hvr-forward:active path{
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }

/* Create page Styles */

.user-comment-textarea {
    border: 1px solid #4287f5;
    border-radius: 5px;
    font-size: larger;
    margin: 10px;
    background-color: white;
    width: 20rem;
    height: 5rem;
}

  