
body{
    background-color: #fbfbfb;
}

.borderbox {
    border: 5px solid red;  
}


/* GifRetrievalForm Styles*/

.gif-search-input {
    width: 15%;
    height: 2rem;
    background-color: white;
    text-align: center;
    font-size: larger;
    border: 1px solid lightblue;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: none;
}

.gif-search-input:focus {
    
}
